<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <title>模板</title>
    <script src='../js/jquery-3.2.1.slim.min.js'></script>
    <script src='../js/vue.js'></script>
    <link rel='stylesheet' href='../css/iview.css'>
    <script src='../js/iview.min.js'></script>
</head>
<body>
<div id='app' class='demo'>
    <!--这是单独的v-for使用-->
    <div v-for='(item,index) in items'>
        {{index+1}}.{{item.type}}
    </div>
    <!--v-for和v-if的结合使用
    这时是先去执行循环语句，再去判断每次循环的元素是否符合要求（这里和v-for，v-if的前后顺序无关）-->
    <div v-for='(item,index) in items' v-if='item.flag'>
        {{index+1}}.{{item.type}}
    </div>
</div>
<script>
    var vm=new Vue({
        el:'#app',
        data:{
            message:'Hello World!!!',
            items:[
                {name:'china',type:'中国',flag:true},
                {name:'us',type:'美国',flag:false},
                {name:'uk',type:'英国',flag:true}
            ]
        }
    })
</script>
</body>
</html>